<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Added Css file -->
    <link rel="stylesheet" href="../style.css">
    <!-- Added google fonts -->
    <title>Multi page website</title>
</head>

<body>
    <nav>
        <div class="container main-nav flex">
            <img src="../image/logo.png" alt="navLogo">
            <ul>
                <li><a href="./index.html" class="hover-link">Home</a></li>
                <li><a href="./about.html" class="hover-link">About us</a></li>
                <li><a href="./contact.html" class="hover-link">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="about-section container">
            <div class="main-about flex">
                <div class="about-info">
                    <h1>Best and Experienced Faculties</h1>
                    <p>
                        We had bring the best experts of medical field to provide you the best
                        service as possible. We are trying our best to serve the world with
                        our facilities, so that everyone can have a proper medical facility to
                        avail.
                    </p>
                </div>
                <div class="about-achivements flex">
                    <div class="achivement-item">
                        <h2>
                            20+
                        </h2>
                        <p>
                            Doctor
                        </p>
                    </div>
                    <div class="achivement-item">
                        <h2>
                            50000+
                        </h2>
                        <p>
                            Customers
                        </p>
                    </div>
                    <div class="achivement-item">
                        <h2>
                            500+
                        </h2>
                        <p>
                            Students
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>