<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Added Css file -->
    <link rel="stylesheet" href="../style.css">
    <!-- Added google fonts -->
    <title>Multi page website</title>
</head>

<body>
    <nav>
        <div class="container main-nav flex">
            <img src="../image/logo.png" alt="navLogo">
            <ul>
                <li><a href="./index.html" class="hover-link">Home</a></li>
                <li><a href="./about.html" class="hover-link">About us</a></li>
                <li><a href="./contact.html" class="hover-link">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <main class="flex">
        <section class="contact-form">
            <h1>
                Contact Form
            </h1>
            <form action="">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your Name">
                <label for="email">Email</label>
                <input type="email" name="name" id="email" placeholder="Enter your Email">
                <label for="message">Message</label>
               <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your Message"></textarea>
               <input type="button" value="Submit" class="submitBtn">
            </form>
        </section>
    </main>
</body>

</html>