<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Added Css file -->
    <link rel="stylesheet" href="../style.css">
    <!-- Added google fonts -->
    <title>Multi page website</title>
</head>
<body>
    <nav>
        <div class="container main-nav flex">
            <img src="../image/logo.png" alt="navLogo">
            <ul>
                <li><a href="./index.html" class="hover-link">Home</a></li>
                <li><a href="./about.html" class="hover-link">About us</a></li>
                <li><a href="./contact.html" class="hover-link">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="hero-section container flex">
            <div class="left-section">
                <img class="topAngle" src="../image/topAngle.png" alt="topAngle" />
                <h1>Complete Health Care Solutions for Everyone</h1>
                <p>
                  We're always available for our Patients with emergen problems. You can
                  easily reach us 24/7. We focused on highest quality.
                </p>
                <img
                  class="bottomAngle"
                  src="../image/bottomAngle.png"
                  alt="bottomAngle" class="bottomAngle"
                />
                <img
                  class="stethoscope"
                  src="../image/stethoscope.png"
                  alt="stethoscope" class="stethoscope"
                />
                <a href="#" class="btn">Make Appointment</a>
                <img class="mouse" src="../image/mouse.png" alt="mouse" class="mouse" />
            </div>
            <div class="right-section">
                <img src="../image/greenBox.png" alt="greenBox" class="greenBox">
                <img src="../image/yellowBox.png" alt="yellowBox" class="yellowBox">
                <img src="../image/doctor.png" alt="doctor" class="doctor">

            </div>
        </div>
    </header>
</body>
</html>